/* login signin style */
body{
    background-image:  
    linear-gradient(90deg, white 0%, #f2f9e2 50%, #e4faf6 100%);
    position: relative;
    font-family: "Roboto Flex", sans-serif;
    perspective: 100px;

}

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   
}
.login-enter-all {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
}
.login-enter-all div img{
    width: 100%;
    height: auto;
}
.log-in-container {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
    
}
.log-in-container h2{
    margin-top: 0px;
    font-weight: 200;
}
.form-log-in input {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
}


#login-submit{
    position: relative;
    background-color: #206A5D;
    color: white;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 1rem;
    margin-bottom: 2%;
    overflow: hidden;
    
}
#login-submit:hover{
    color: #81B214;
    background-color: #FFCC29;
}

#login-submit::before{
    position: absolute;
    content: '';
    display: block;
    left: -30px;
    top: -40px;
    width: 30px;
    height: 100px;
    background-color: #F58634;
    filter: blur(5px);
    transition: all 0.5s ease;
  transform: translateX(0);
}
#login-submit:hover::before{
    transform: translateX(100px);
    background-color: #ffffff;
}    
.cup-img img{
    width: 100%;
    height: auto;
}
.food-img img{
    width: 100%;
    height: auto;
}
.cup-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transform-origin: center;
    animation: cup 70s ease infinite alternate;
   
}
.food-img{
    position: absolute;
    right: 3%;
    bottom: -10%;
    z-index: -2;
    transform-origin: center;
    animation: food 70s 2s ease infinite alternate;
    
}
.input-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.password-btn {
    display: flex;
    justify-content: center;
}
.password-btn img{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.password-btn img:hover{
    filter: saturate(5);
    
}
.color-thumbnails {
margin-bottom: 4%;
display: flex;
justify-content: space-around;
align-items: center;

 
}
.thumbnail{
    appearance: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.thumbnail::before {
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
}

#green::before{
    background-color: #206A5D;
}
#light-green::before {
    background-color: #81B214;
}
#yellow::before {
    background-color: #FFCC29;
}
#orange::before {
    background-color: #F58634;
}
#blue::before {
    background-color: #34dff5;
}
.thumbnail:checked:before{
    border: solid rgb(225, 225, 225);
    transform: scale(1.1);
    box-shadow: 0 3px 7px 0 rgba(255, 255, 255, 0.13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    z-index: 4;
}


@keyframes cup {
   form {
     transform: rotate(0deg)  scale(1);
   } 
   to {
    transform: rotate(30deg) scale(1.1);
   }
}
@keyframes food {
    form {
      transform: rotate(0deg) scale(1);
    } 
    to {
     transform: rotate(-30deg) scale(1.1);
    }
 }

 /* login sign in style responsive */
 @media (max-width: 835px) {
    .cup-img {
        display: none;
    }
    .food-img {
        display: none;
    }
 }
/* base style */

header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.profile-img{
    border-radius: 50%;
    padding: 1%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.profile-img p {
    font-size: 3.5rem;
    color: white;
    font-weight: 600;

        
}
header div a{
    text-decoration: none;
    color: #206A5D;
}
header div {
    position: relative;
}
header div img{
    cursor: pointer;
}
#logo-popup {
    display: none;
    position: absolute;
    font-size: 1.5rem;
    left: 10%;
    top: 100%;
   text-decoration: none; 
   text-align: center;
   list-style-type: none;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 20px;
   padding: 0.5rem;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
   transform: scaleY(1);
   z-index: 100;
}
#logo-popup a:hover{
    cursor: pointer;
    color: #F58634;
    
}

#logo-menu{
    width: 100%;

}

#logo-menu:hover{
    filter: drop-shadow(0 0 0.75rem rgb(207, 207, 207)); 
}
#div-username-letter:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);  
}
#div-username-letter:hover p{
    transform: scale(1.1);
    box-shadow: 0px 9px 30px rgba(255, 255, 255, 0.1);
}

/* home style */
.home-layout{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.home-h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #206A5D;
    margin-top: 5%;
   
}
.img-banner{
   
}
.bkg-image{
    width: 100%;
}

.add-banner{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.add-banner  .form{
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
    padding: 2%;
    position: relative;
}
.add-banner div h3{
    color: #206A5D;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2%;
}
.water {
    position: relative;
}
.water-div-bkg {
    position: absolute;
    top: 28%;
    z-index: 0;
}
.water-img-bkg {
    width: 100%;
    height: auto;
}
.water-form{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
.fill-in-form{
    position: absolute;
    bottom: 2%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1%;
    border-radius: 20px;
    color: #F58634;
    text-align: center;
    width: 100%;
}

.weight-form div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weight-form .kg-lb {
    appearance: none;
    border: none;
    width: 60px;
    height: 40px;
    cursor: pointer;
    z-index: 20;
}

.weight-form label {
    position: relative;
    display: inline-block;
    margin: 10px; 
}

.weight-form label p {
    pointer-events: none;
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 9%;
    left: 30%;
    font-size: 2rem;
    color: #81B214;
}

.weight-form label input:checked + p {
    font-weight: 600;
    color: #F58634;
    text-shadow: #FC0 1px 0 10px;
}

.weight-form label input:hover + p {
    color: #F58634; 
}

#weight-num{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    border-radius: 20px;
    height: 60%;
    font-size: 3rem;
    text-align: center;
    border: dotted #F58634;
    color: #206A5D;
}
.weight-form button{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

#btn-weight {
    width: 100%;
    display: flex;
    align-items: center;
    

}
#btn-weight button{
    border: none;
    font-size: 1.3rem;
    color: white;
    padding: 2%;
    border-radius: 20px;
    cursor: pointer;
}
#weight-reset-btn {
    background-color: #FFCC29;
}
#weight-submit-btn{
    background-color: #F58634;
}
#btn-weight button:hover{
    background-color: #206A5D;
}
.water-img-bkg-small{
    display: none;
}
.menu-small{
    display: none;
}
/* home rsponsive */

@media (max-width: 1196px) {
   .add-banner{
    width: 100%;
   }
}

@media (max-width: 900px) {
    .home-layout{
        overflow: auto;
    }
    .add-banner{
       grid-template-columns: 1fr 1fr 1fr;
       
    }
    .img-banner{
        bottom: -85%;
    }
 }
 @media (max-width: 750px){

    .add-banner{
        grid-template-columns: 1fr 1fr ;
        
     }
     .water-img-bkg-small{
        display: inline-block;
       
     }
     .water-img-bkg{
        display: none;
     }
  
    .add-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
     }
     .home-h1{
        font-size: 2rem;
     }
     .img-banner{
        bottom: -150%;
    }
    .add-banner .form{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 10%;
    } 

    .meal {
        padding-bottom: 20% !important;
    }
    .img-banner{
        bottom: -250%;
    }
    .menu-small{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        
    }
    .menu-small h3{
        color: #206A5D;
        font-size: 1.8rem;
        font-weight: 400;
       
    }
    .menu-small a{
        text-decoration: none;
    }
    .menu-small div{
        background-color: rgb(255, 255, 255, 0.6);
        border-radius: 20px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
        padding: 2%;
    }
    .menu-small a:hover{
        color: #F58634;
    }
    .weight-small {
        background-image: url(../images/scale.png);
        background-repeat: no-repeat;
        background-position: right top;
    }
    .meal-small{
        background-image: url(../images/sppon\ copy\ 2.png);
        background-repeat: no-repeat;
        background-position: right top;
    }
    .water-small{
        background-image: url(../images/cup-water-small-menu.png);
        background-repeat: no-repeat;
        background-position: right top;
    }
    .workout-small{
        background-image: url(../images/running-small-menu.png);
        background-repeat: no-repeat;
        background-position: right top;
    }
    .water-form{
        font-size: 2rem;
    }
 }

/* base style responsive */
@media (max-width: 750px) {
    #logo-menu{
        width: 80%;
    }
    .profile-img{
        height: 80px;
        width: 80px;
        
     
    }
    #username-letter{
        font-size: 2.5rem;
    }
}



/* meals style */

.meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.meal h3{
    margin-bottom: 0;
}
.meals-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}
#now-time{
    margin-top: 0;
    color: #F58634;
    font-size: 1.5rem;
    cursor: pointer;
}
#now-time:hover{
    color: #206A5D;
    text-shadow: #FC0 1px 0 10px;
}
#timeInput{
    text-align: center;
}
.input-time{
    position: relative;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 0;
}
.input-time .watch-btn-div{
    display: flex;
    justify-content: space-around;
    margin: 10%;
    margin-top: 0;
}
.input-time .watch-btn-div p{
    display: inline-block;
    color: #206A5D;
}
#timeInput {
    width: 100px;
    border: none;
    display: inline;
    font-size: 1.5rem;
    position: absolute;
    left: 30%;
    top: -70%;
}

#fav-meals{
    background-color: #FFCC29;
    padding: 2%;
    border-radius: 15px;
    border: none;
    font-size: 1.1rem;
    color: #206A5D;

}

.meals-form a{
    color: #81B214;
    text-decoration: none;
    margin-bottom: 5%;
    font-size: 1.3rem;
}

.meals-form a:hover{
    color: #F58634;
    font-weight: 600;
}

#iput-meal {
    border: dotted #F58634;
    border-radius: 15px;
    margin-bottom: 0;
}
#btn-meals{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#btn-meals button{
    margin-top: 0;
    padding: 2%;
    border-radius: 20px;
    font-size: 1.3rem;
    color: white;
    border: none;
}
#meals-submit-btn{
    background-color: #F58634;
}
#meals-reset-btn{
    background-color: #FFCC29;
}
#meals-submit-btn:hover{
    background-color: #206A5D;
}
#meals-reset-btn:hover{
    background-color: #206A5D;
}


@media (max-width: 900px){
  .div-edit-meals-container{
    width: 100% !important; 
  }  
}

@media (max-width: 750px){
    .div-edit-meals-container h1{
      font-size: 1.5rem !important; 
    }  
  }

/* water style */

.water p{
    margin-top: 1%;
}

 .water-size input {
    appearance: none;
    width: 200px;
    height: 20px;
   
}
.water-size{
    position: relative;
}
.water-size p{
    pointer-events: none;
    position: absolute;
    left: 30%;
    bottom: -75%;
    font-size: 1.2rem;
    color: #206A5D;
    text-shadow: 0 0 5px white, 0 0 8px #FFCC29;
    border: dotted transparent;
    padding: 2%;
}
.water-size input:checked + p{
    border: dotted #FFCC29;
    font-weight: 700;
    border-radius: 15px;
    padding: 2%;
    text-shadow: #FC0 10px 0 20px; 
    background-color: rgb(228, 228, 228, 0.6);
}

.water-size input:hover + p{
    border: dotted #FFCC29;
    background-color: rgb(228, 228, 228, 0.6);
    border-radius: 15px;
}
.water-btn{
   width: 100%; 
   display: flex;
   justify-content: space-between;

}
.water-btn button{
    font-size: 3rem;
    color: #ffffff;
    padding: 4%;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-water{
    background-color: #F58634;
}
#reset-water{
    background-color: #FFCC29;
}
#add-water:hover{
    background-color: #206A5D;
}
#reset-water:hover{
    background-color: #206A5D;
}
/* workout style */
.wokout-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wokout-form div label{
    position: relative;

}
.wokout-form div label input{
   appearance: none;
    width: 80px;
    height: 80px;
}
.wokout-form div label img{
    pointer-events: none;
    position: absolute;
    left: -4px;
    top: -76px;
}

.wokout-form div label input:hover + img{
    transform: scale(1.1);
    filter: brightness(1.3);
    filter: drop-shadow(0 0 0.75rem rgb(207, 203, 174));
}

.wokout-form div label input:checked + img{
    transform: scale(1.2);
    filter: brightness(1.3);
    filter: drop-shadow(0 0 0.75rem rgb(118, 118, 118));
}

#add-custom-workout{
    text-align: center;
    font-size: 1.2rem;
    border: dotted #F58634;
    border-radius: 15px;
}
.btn-workout{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
}
.btn-workout button{
    font-size: 3rem;
    color: #ffffff;
    padding: 4%;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-workout{
    background-color: #F58634;
}
#reset-workout{
    background-color: #FFCC29;
}
#add-workout:hover{
    background-color: #206A5D;
}
#reset-workout:hover{
    background-color: #206A5D;
}
/* add favorite meals style */

.div-edit-meals-container {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 70%;
}
.div-edit-meals-container p {
    display: inline-block;
    font-size: 1.2rem;
}
.div-edit-meals-container p.para-name{
    color: #F58634;
    font-weight: 600;
    
}
.div-edit-meals-container p.para-content{
    color: #206A5D;
    margin-left: 2%;
}
#list-of-melas {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
    padding: 2%;
}
#list-of-melas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#list-of-melas li{
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.4);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 1%;
}
.div-edit-meals-container li p.para-content{
    color: black;
    text-align: center;
}
.div-edit-meals-container li input {
    font-size: 1.2rem;
    border: dotted #F58634;
    padding: 1%;
    border-radius: 10px;
    background-color: white;
   
}
.div-edit-meals-container li {
    position: relative;
}
.div-edit-meals-container li .input-name{
    color: #F58634;
    font-weight: 600;
    position: absolute;
    left: 0.5%;
    top: 33%;
    width: 32%;
}
.div-edit-meals-container li .input-content{
    position: absolute;
    left: 35.5%;
    top: 33%;
    width: 52%;
}

#list-of-melas li div .delet-item{
   color: rgb(210, 102, 102);
   margin-left: 20px;
   font-size: 1.5rem;
   width: 200px;
}

#list-of-melas li div .submit-item{
    color: rgb(131, 210, 102);
    font-size: 1.5rem;
}

#list-of-melas li div .delet-item:hover{
    color: #F58634;
    text-shadow: 0px 2px  5px #206A5D;
}

#list-of-melas li div .submit-item:hover{
    color: #FFCC29;
    text-shadow: 0px 2px  5px #206A5D;
}
.meal-para-change{
    margin: 0;
    color: #206A5D;
}

.edit-meal-div {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.edit-meal-div input{
    font-size: 1.2rem;
    border: dotted #F58634;
    padding: 1%;
    border-radius: 10px;
    background-color: white;
    
}
.edit-meal-div #new-meal-name{
    width: 35%;
}
.edit-meal-div #input-new-content{
    width: 55%;
}
.edit-meal-div div{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.edit-meal-div div #submit-meal{
    font-size: 1.5rem;
    background-color: #81B214;
    color: white;
    border: none;
    padding: 5%;
    border-radius: 2px;
    margin-left: 5%;
}
.edit-meal-div div #reset-mael{
    font-size: 1.5rem;
    background-color: #F58634;
    color: white;
    border: none;
    padding: 5%;
    border-radius: 2px;
}
.edit-meal-div div #submit-meal:hover{
    color: #206A5D;
    background-color: #FFCC29;
}
.edit-meal-div div #reset-mael:hover{
    color: #206A5D;
    background-color: #FFCC29; 
}
.edit-meal-div .fill-in-form{
    left: 0;
    bottom: 0;
    width: 80%;
}
@media (max-width: 500px) {
    .div-edit-meals-container li .input-content {
        width: 40%;
    }  
}

/* profile style */

.profile-flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px
    
}
.home-h1{
    margin-top: 2%;
    margin-bottom: 1%;
}
.profile-meal-container{
    grid-column: 1;
    grid-row: 1/4;
    background-image: url("../images/sppon copy 2.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    z-index: 3;
    position: relative;
}
.profile-meal-container p{
    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px rgb(255, 255, 255),
    0 0 45px rgb(255, 255, 255),
    0 0 55px rgb(255, 255, 255),
    0 0 70px rgb(255, 255, 255),
    0 0 80px rgb(255, 255, 255);
}

.profile-meal-container div {
    position: relative;
}
.profile-meal-container form{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 100%;
}
.profile-meal-container form select {
    background-color: #FFCC29;
    border-radius: 15px;
    color: #206A5D;
    padding: 1%;
    margin-bottom: 1%;
}
.profile-meal-container form a{
    text-decoration: none;
    color: #206A5D;
}
.profile-meal-container form a:hover{
    color: #81B214;
}
.profile-water {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}

.profile-water form{
    position: absolute;
    left: 30%;
    top: 64%;
    width: 100%;
}

.profile-water h3{
    font-weight: 400;
    font-size: 1.5rem;
    color: #81B214;
    cursor: pointer;
}

.profile-water h3:hover{
    color: #F58634;
}

.profile-weight {
   grid-column: 2;
   grid-row: 2;
   background-color: rgb(255, 255, 255, 0.6);
   border-radius: 20px;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 3; 
   position: relative;
}
.profile-weight form{
    position: absolute;
    left: 30%;
    top: 64%;
    width: 100%;
}
.profile-weight h3{
    font-weight: 400;
    font-size: 1.5rem;
    color: #81B214;
    z-index: 2;  
}
.profile-workout{
    grid-column: 2;
    grid-row: 3;
    
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative; 
 } 
 .profile-workout form{
    position: absolute;
    left: 12%;
    top: 64%;
    width: 100%;
 }
 .profile-workout h3{
    font-weight: 400;
    font-size: 1.5rem;
    color: #F58634;
    text-align: center;

       
 } 
.profile-meal-h3{
    text-align: center;
    color: #F58634;
    font-weight: 400;
    font-size: 1.8rem;
}

.profile-meal-container div{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}
.profile-meal-p{
    width: 90%;
    padding: 2%;
    margin-top: 2%;  
}
.meal-time{
    margin-right: 10%;

}
.profile-btns {
    width: 100%;
    position: absolute;
    left: 0;
    top: 15%;
    display: flex;
    justify-content: space-between;
    
}
.profile-btns button{
    font-size: 4rem;
    border: none;
    background-color: #FFCC29;
    color: #206A5D;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.profile-btns button:hover{
    background-color: #F58634;
    color: #FFCC29;
}

.profile-flex-container input{
    border: dotted #F58634;
    border-radius: 10px;
    background-color: white;
    padding: 1%;
    
}
.profile-flex-container button[name="action"] {
    background-color: #81B214;
    border: none;
    color: white;
    padding: 1%;
    border-radius: 5px;
}
.profile-flex-container button[value="Reset"]{
    background-color: #F58634;
} 
.profile-flex-container button[name="action"]:hover {
    background-color: #206A5D;
    color: #FFCC29;
    box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.1);
}
.profile-add-new {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.profile-add-new p {
display: flex;
justify-content: center;
color: #F58634;
cursor: pointer;
}
.profile-add-new p:hover {
    color: #206A5D;
   
}

.profile-add-new-workout p{
    font-weight: 400;
    font-size: 1.5rem;
    color: #81B214;
    cursor: pointer;
}

.profile-add-new-workout p:hover{
    color: #F58634;
}

.profile-add-new-weight p{
    font-weight: 400;
    font-size: 1.5rem;
    color: #81B214;
    cursor: pointer;
}
.profile-add-new-weight p:hover{
    color: #F58634;
}
.add-form-weight{
    left: 0;
}

.add-form-weight input[type="radio"]{
    visibility: hidden;
  
}
.add-form-weight label{
    position: relative;
}
.add-form-weight label p{
    display: inline;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.2rem;
    margin: 1%;
}
#profile-kg-p {
    color: #81B214;
}
#profile-lb-p {
    color: #F58634;
}

.add-form-weight input:checked  + p{
    text-shadow: 2px 1px 2px #FFCC29;
    color: #206A5D !important;
}
.add-form-weight label p:hover{
    text-shadow: 2px 1px 2px #FFCC29;
}
.week-display-div{
    margin-bottom: 1%;
}
.week-display-div a{
text-decoration: none;
cursor: pointer;
font-size: 1.2rem;
color: #F58634;
}
.week-display-div a:hover{
    color: #FFCC29;
}
/* profile style responsive */

@media (max-width: 800px) {
.profile-container{
    width: 100%;
    display: flex ;
    flex-direction: column;

}
.home-h1{
    font-size: 1.2rem;
}
.profile-btns {
    top: 0%;
    z-index: 5;
}
.profile-btns button{
    font-size: 3rem;
}
.profile-flex-container input{
    font-size: 1.2rem;
    
}
.flex-profile-div{
    z-index: 5;
    font-size: 1rem;
}
.profile-meal-container form {
    z-index: 5;
    left: -2%;
}
.profile-weight form{
    left: 2%;
}
.profile-water form {
    left: 12%;
}
.week-display-div {
    z-index: 10;
}
}

/* week_display */

.day-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;


}
.week-day-div  {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    padding: 2%;
}
.week-day-div form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.week-day-div form button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #F58634;
    cursor: pointer;  
}
.week-day-div form button:hover{
    color: #81B214;
}

.week-div-meals h3{
 text-align: center;
 font-weight: 400;
 color: #206A5D;
 font-size: 1rem;
}

.week-div-meals p{
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr  2fr;
    
}
.week-time {
    color: #F58634;
}
.week-water-div {
    color: #81B214;
text-align: center;
}
.week-weight {
    color: #81B214;
    text-align: center;
}
.week-workout{
    color: #F58634;
    text-align: center;
}

@media (max-width: 800px) {
    .day-container {
        grid-template-columns: 1fr;
        gap: 1px;
    }
    .week-btns{
        position: sticky;
        height: fit-content;
        align-items: center;
        padding-top: 5%;
    }
}