{% extends "base.html" %}
{% block title %}Add Meal{% endblock %}
{% block main %}
<div class="div-edit-meals-container">
    <h1 style="color: {{color}};"> {{username | title}}, You can edit Meals:</h1>
    <p  class="meal-para-change">To change Meal click on it</p><br>
    <a href="{{url_for('home')}}">Back</a>
    <form action="edit_meal()" method="POST" class="edit-meal">
          <ul id="list-of-melas">
    
         
          
    
        </ul>
        <div>
            <div class="edit-meal-div"><input placeholder="Meal Name" id="new-meal-name"><span> : </span><input placeholder="Meal content" id="input-new-content">
                <div>
                    <button type="submit" id="submit-meal">&#10004;</button>
                    <button type="reset" id="reset-mael">&#10005;</button>
                </div>
            </div>
          </div>
    
    </form>
    
</div>



<script>
    const meals_favorites = {{ meals|tojson }}
</script>
<script src="{{url_for('static', filename='js/add_meal.js')}}"></script>
{%endblock%}