{% extends "base.html" %}
{% block title %}Add Meal{% endblock %}
{% block main %}
<div class="div-edit-meals-container">
    <h1 style="color: {{color}};"> {{username}}, You can edit Meals:</h1>

    <form action="edit_meal()" method="POST" class="edit-meal">
          <ul id="list-of-melas">
    
         
          
    
        </ul>
        <div>
            <div><input placeholder="Meal Name" id="new-meal-name"><span> : </span><input placeholder="Meal content" id="input-new-content">
                <button type="submit" id="submit-meal">Add</button>
                <button type="reset" id="reset-mael">reset</button>
            </div>
          </div>
    
    </form>
    
</div>



<script>
    const meals_favorites = {{ meals|tojson }}
</script>
<script src="{{url_for('static', filename='js/add_meal.js')}}"></script>
{%endblock%}