<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/logo copy.png" type="image/icon type">
    <title>LogIn</title>
</head>
<body class="bkg-body">
    <div class="login-body">
        <div>
                <div class="login-enter-all">
                    <div><img src="../static/images/logo copy.png"></div>
                    <div class="log-in-container">
                        <h2>Login</h2>
                        <form class="form-log-in" action="{{ url_for('login') }}"  method="POST">
                            <div class="input-layout">
                                <input type="text" id="username" name="username" placeholder="username" autocomplete="username" required><br>
                                <div class="password-btn">
                                    <input type="password" id="password" name="password" placeholder="password" autocomplete="new-password" class="password" required>
                                    <img src="../static/images/eye.png" alt="eye-icon" id="show-password">
                                </div>
                            </div>
                            <button type="submit" action="submit" value="submit" id="login-submit">Submit</button>
                        </form>
                        <a href="{{ url_for('signin') }}">Sign In</a>
                    </div>
                  
            </div>
        </div>
    </div>
    <div class="cup-img"><img src="../static/images/cup copy.png" ></div>
    <div class="food-img"><img src="../static/images/food.png" ></div>
    <script src="../static/js/login.js"></script>
</body>
</html>