{% extends "base.html" %}
{% block title %}{{name}} Profile{% endblock %}
{% block main %}
<hr style="border: 1px dashed {{color}};">
<div>
    <h1 class="home-h1" style="color: {{color}};">Hi {{username | title}}, Today is {{date}}  </h1>
    <div class="profile-meal">
        <h3>Your Meals:</h3>
        {% if meals%}
            {% for meal in meals %}
                {% if meal.date == date %}
                    <p> {{meal.time}} - {{meal.meal}}</p>
                {% else %}
                <p>No meals yet.</p>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>No meals yet</p>
        {% endif %}

    </div>
    <div class="profile-water">
        <h3>
            {% set water_sum = [] %}
            {% for cup in water %}
                {% if cup.date == date %}
                    {% set _ = water_sum.append(cup.quantity) %}
                {% endif %}
            {% endfor %}
            
            {% if water_sum %}
               You drunk today {{ water_sum | sum }} ml
            {% else %}
                <p>No water yet.</p>
            {% endif %}
        </h3>
    </div>
    <div class="profile-weight">
        <h3>
        {% if weight %}
            {% for item in weight %}
                {% if item.date == date %}
                    Your weight Today: {{item.weight_num}}{{item.weight_unit}} <br>
                {% endif %}
            {% endfor%}
        {% else %}
         <p>No weight yet</p>
         {% endif %}
        </h3>
     
    </div>
    <div class="profile-workout">

        <h3>
            {% if workout %}
                {% for item in workout %}
                    {% if item.date == date %}
                        Your workout today is {{item.type}} for {{item.duration}} min<br>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p> No workut yet</p>
            {% endif %}
        </h3>
    
    </div>
    <div class="profile-btns">
        <a href="#">Next</a>
        <a href="#">Frev</a>
    </div>
</div>

{% endblock %}